<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>loader</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-content [fullscreen]="true"> -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">loader</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-content>
<!-- progress indicator ionic spinner -->
  <!-- posisi di tengah-->
  <div class="flex-center">
      <!-- ionic spinner berjenis crescent dan berwarna hijau success-->
    <ion-spinner name="crescent" color="success"></ion-spinner>
  </div>
</ion-content>
